
.fix-top {
    	position: fixed;
	}
	
.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	text-align: center;
	@include font-size(1.125);
	
	ul {
		display: none;
		list-style: none;
		padding-left: 0;
		margin: 0 !important;
	}

	li {
		position: relative;
		padding: .5rem;
		&:hover,
		&.focus  {
			border: 1px solid $color__link;
			margin: 0 37%;
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item,
	.current-menu-item,
	.current_page_ancestor,
	.current-menu-ancestor {
	}
}

/* Top menu. */

.top-navigation {
	clear: both;
	display: block;
	width: 100%;
	position: fixed;
	background: $color__background-body;
	
	ul {
		//text-align: right;
		list-style: none;
		margin: 0 !important;
	}
	li {
		display: inline-block;
		padding: .5rem;
	}
	
	.fa {
		@include font-size(1.125);
		color: $color__link;
	}
}

/* corrects scrolling error with top nav */
:target:before {
	content:"";
	display:block;
	height:90px; /* fixed header height*/
	margin:-115px 0 0; /* negative fixed header height */
}
/* Small menu. */

.main-navigation ul {
	display: inline-block;
}
.menu-toggle {
		display: inline-block;
	}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
		
		li {
			display: inline-block;
			&:hover,
			&.focus  {
			border: 1px solid $color__link;
			margin: 0;
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
